#frm-geocode
  box-sizing content-box
  position absolute
  bottom 20px
  left 10px
  background white
  padding 5px 10px
  float left
  border 2px solid rgba(0,0,0,0.2)
  border-radius 4px
  label
    float left
    clear left
  .inputs
    float left
    clear left
    padding-top 3px
  input
    float left
    &:first-child
      width 170px
  input:last-child
    margin-left 8px
