@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Geocoder
.ig
  background yellow
  #map
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
